name: "Build and Test"
on:
  push:
    branches:
      - '*'
    tags-ignore:
      - '*'
    paths-ignore:
      - '*.md'
      - 'docs/**'
  pull_request:
  workflow_dispatch:
  release:
    types: [ published ]
permissions:
  pull-requests: write
  contents: write
jobs:
  linux-x86_64:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v6
      - uses: cachix/install-nix-action@v31
        with:
          nix_path: nixpkgs=channel:nixos-unstable
          github_access_token: ${{ secrets.GITHUB_TOKEN }}
      - uses: silenium-dev/actions/jni-natives/ubuntu@main
        with:
          gradle-cache-encryption-key: ${{ secrets.GRADLE_CACHE_ENCRYPTION_KEY }}
          snapshot-repo-url: "https://reposilite.silenium.dev/snapshots"
          release-repo-url: "https://reposilite.silenium.dev/releases"
          repo-username: ${{ secrets.REPOSILITE_USERNAME }}
          repo-password: ${{ secrets.REPOSILITE_PASSWORD }}
          tests: false
          java-version: 17
          platform: ${{ github.job }}
          use-nix-develop: true
  linux-arm64:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v6
      - uses: cachix/install-nix-action@v31
        with:
          nix_path: nixpkgs=channel:nixos-unstable
          github_access_token: ${{ secrets.GITHUB_TOKEN }}
      - uses: silenium-dev/actions/jni-natives/ubuntu@main
        with:
          gradle-cache-encryption-key: ${{ secrets.GRADLE_CACHE_ENCRYPTION_KEY }}
          snapshot-repo-url: "https://reposilite.silenium.dev/snapshots"
          release-repo-url: "https://reposilite.silenium.dev/releases"
          repo-username: ${{ secrets.REPOSILITE_USERNAME }}
          repo-password: ${{ secrets.REPOSILITE_PASSWORD }}
          tests: false
          java-version: 17
          platform: ${{ github.job }}
          use-nix-develop: true
  windows-x86_64:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v6
      - uses: silenium-dev/actions/jni-natives/windows@main
        with:
          gradle-cache-encryption-key: ${{ secrets.GRADLE_CACHE_ENCRYPTION_KEY }}
          snapshot-repo-url: "https://reposilite.silenium.dev/snapshots"
          release-repo-url: "https://reposilite.silenium.dev/releases"
          repo-username: ${{ secrets.REPOSILITE_USERNAME }}
          repo-password: ${{ secrets.REPOSILITE_PASSWORD }}
          tests: false
          java-version: 17
          platform: ${{ github.job }}
  windows-arm64:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v6
      - uses: silenium-dev/actions/jni-natives/windows@main
        with:
          gradle-cache-encryption-key: ${{ secrets.GRADLE_CACHE_ENCRYPTION_KEY }}
          snapshot-repo-url: "https://reposilite.silenium.dev/snapshots"
          release-repo-url: "https://reposilite.silenium.dev/releases"
          repo-username: ${{ secrets.REPOSILITE_USERNAME }}
          repo-password: ${{ secrets.REPOSILITE_PASSWORD }}
          tests: false
          java-version: 17
          platform: ${{ github.job }}
  kotlin:
    runs-on: ubuntu-22.04
    needs: [ linux-x86_64, linux-arm64, windows-x86_64, windows-arm64 ]
    steps:
      - uses: actions/checkout@v6
      - uses: cachix/install-nix-action@v31
        with:
          nix_path: nixpkgs=channel:nixos-unstable
          github_access_token: ${{ secrets.GITHUB_TOKEN }}
      - uses: silenium-dev/actions/kotlin@main
        with:
          gradle-cache-encryption-key: ${{ secrets.GRADLE_CACHE_ENCRYPTION_KEY }}
          snapshot-repo-url: "https://reposilite.silenium.dev/snapshots"
          release-repo-url: "https://reposilite.silenium.dev/releases"
          repo-username: ${{ secrets.REPOSILITE_USERNAME }}
          repo-password: ${{ secrets.REPOSILITE_PASSWORD }}
          tests: false
          java-version: 17
